<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>@ViewBag.SystemNameText</title>
</head>

<body style="background-color:black">
    <div style="text-align:center;width:100%;height:100%;background-color:black;">
        <a href="/Home/Index"><img src="/Content/themes/client/images/intro.png" style="width:100%;" /></a>
    </div>
</body>
</html>

